body {
  background: whitesmoke;
}

.container {
  max-width: 50%;
  margin: 0 auto;
  padding: 20px;
  background: #DC143C;
  border-radius: 8px;
}

.nba-img {
  width: 99%;
  height: auto;
  background: #DC143C;
  border-radius: 20px;
  border: 3px solid #ddd;
  padding: 5px;
  align-self: center;
}

.heading {
  font-size: auto;
}

p {
  font-size: auto;
  width: auto;
  color: white;
  font-family: "Lucida Console", "Courier New", monospace;
  height:auto;
 
}
button {
  background-color: white;
  border: 10px;
  color: #DC143C;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  transition-duration: 1s;
  font-family: "Lucida Console", "Courier New", monospace;
  font-weight: bold;
}

h1 {
  color: whitesmoke;
  font-family: "Lucida Console", "Courier New", monospace;
}

.questionOne
{
background:#395BA5;
}

.questionTwo
{
background:#395BA5;
}
